footer {
    width: 100%;
    padding: 40px 20px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;

    
    background-color: #0b0909;
    background-image: url('/assets/images/footer.svg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    

    border-top: 2px solid #5e3a03; 
    box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.9); 
    
    position: relative; 
    z-index: 5;
}

.footer-text {
    font-family: 'Jaini', system-ui; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px; 
    line-height: 1.5;
    color: #888888;
    text-align: center;
    letter-spacing: 1px;
}

.footer-text strong {
    color: #ffc400;
    font-weight: normal;
}