header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative; /* Важливо для z-index */
    z-index: 20;
}

.logo {
    width: 30px;
    height: 30px;
    transform: translateY(2px) translateX(-35px);
}

.profile {
    width: 50px;
    height: 50px;
    transform: translateY(12px) translateX(35px);
}
.profile-pic{
    width: 24px;
}

.upper-header {
    background-image: url('/assets/images/header_upper_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 436px;
}

.main-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-image: url('/assets/images/header_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 38px;
    z-index: 3;
}

.logo-link {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.right-section {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
    
}

.nav-item:hover {
    transform: scale(1.1);
    color: #ffc400;
    transition: 0.2s;
}

.candles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    gap: 120px;
    top: 20px;
    z-index: 2;
}
.candle{

    width: 20px;

}

.chains {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    
    z-index: -1; 
    top:-9px;
    width: 544px;
    height: 90px;
}