@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Jaini+Purva&family=Momo+Trust+Display&display=swap');

body{
    background-image: url('/assets/images/bg_auth.png');
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
}

